.modal{
  background-color: rgba(0,0,0,.5);
}
@keyframes fromtop {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}
.modal-body{
  word-break: break-all;
}
.modal-dialog{
  animation: fromtop .5s;
}