header{
  background-color: #e6ab7c;
  color: #fff;
  align-items: center;
  margin-bottom: 40px;
}
.search-wrapper{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.search-wrapper-inner{
  display: flex;
  align-items: center;
}
.search-wrapper-inner button{
  margin-left: 10px;
}